* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-container {
  display: flex;
  padding: 4rem 0rem 4rem 4rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #e6e6e6;
  align-items: center;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
}

.btn.navbar-brand img{
    border-radius: 20px;
  }

.nav_info {
  display: flex;
  justify-content: space-between;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.container-final {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.texto_info {
  margin-bottom: 1rem;
}
.icon{
  width: 80%;
  height: 80%;
  padding: 5px;
}
.text-global{
  gap:2;
}